.ql-toolbar.ql-snow {
	top:0;
	left:0;
	right:0;
	height:40px;
	position:absolute;
	white-space:nowrap;
}

.ql-container.ql-snow {
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:auto;
	position:absolute;
}

.ql-container.ql-snow.full {
	bottom:auto;
	min-height:300px;
	position:relative;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
	top:40px;
}
